<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>User page</title>
</head>

<body>
	<h1>Hello [<%= username%>].</h1>
	<h2>If you are watching this, you are correctly authenticated.</h2>
	<h2>Captain Picard is proud of you.</h2>
    <iframe src="https://giphy.com/embed/NJZMSqRY3rG9i" width="480" height="363" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <p><a href="https://giphy.com/gifs/captain-slow-NJZMSqRY3rG9i">via GIPHY</a></p>
	<h2><a href="/logout">Logout</a></h2>
</body>

</html>
